# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Log files
*.log
logs/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Misc
*.egg-info/
*.egg
.ipynb_checkpoints

# JSON 
configs/instances.json
